.videos-item {
  background-color: #fff;
  height: 100%;

  &__modal {
    padding: 33px 36px;
    width: 510px;
    height: 363px;

    &-button {
      display: flex;
      float: right;

      > div {
        padding-left: 13px;
      }
    }
    &-field {
      padding-bottom: 20px;
      margin-bottom: 24px;
      border-bottom: 1px solid #e6e6e6;
    }
  }
  &-wrapper {
    width: 800px;
    padding: 51px;
    margin: 0 auto;

    iframe {
      width: 100%;
    }
  }
}
