.resources-item {
  background-color: #fff;
  height: 100%;

  &__wrapper {
    width: 800px;
    padding: 50px;
    margin: 0 auto;

    iframe {
      width: 100%;
    }

    & h1 {
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
    }

    & p {
      padding-bottom: 16px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }
}
